*, 
*::after, 
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html
{
    font-size: 62.5%; /* 10px(wanted) / 16px(default browser font size) = 62.5% */

    @include respond(tab-land)
    {
        font-size: 56.25%; // 9px
    }
    @include respond(tab-port)
    {
        font-size: 50%; // 8px
    }
    @include respond(big-desktop)
    {
        font-size: 75%; // 12px
    }
}
body
{
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $color-grey-dark;
    line-height: 1.7;
    box-sizing: border-box;
    background-color: $color-white;

    & > *
    { 
        padding: 6rem; //$padding__right__left__medium; //0 6rem;

        @include respond(tab-port)
        {
            padding: 4rem; //$padding__right__left__small; //0 4rem;
        }
    }
}